@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 黑体;
  background: #F0F0F0; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100vw;
  color: #fff;
  background: #5fc0cd; }

.a1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100vw;
  color: #fff;
  margin: 30px 0;
  border: 1px solid #c4c4c4;
  background: #fff; }
  .a1 img, .a1 input {
    display: inline-block;
    margin-left: 32px;
    border: 0;
    outline: none; }

.b {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 80vw;
  color: #fff;
  background: #5fc0cd;
  border-radius: 10px;
  margin-left: 10vw; }

.h {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: none;
  width: 80vw;
  color: #fff;
  color: #c4c4c4;
  margin-left: 10vw; }

.c {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  color: #fff;
  color: #c4c4c4;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 60px; }
  .c span {
    width: 30vw;
    height: 1px;
    background: #c4c4c4; }

.d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 66vw;
  color: #fff;
  margin-left: 17vw; }
  .d div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: none;
    width: none;
    color: #fff;
    flex-direction: column;
    color: black;
    font-size: 14px; }
