@charset "utf-8";  
  
body{
    line-height:1.4;
    font-family:arial;
    font-size: 20px;
    background:white;
}

input,textarea,select{
    font-size:12px;
    font-size:100%;    
    font-family:arial;
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0;
	list-style-type: none;
}
a img{border:0;}
img{border:0;} 
hr{width: 100%;border:none;height: 1px;margin: 0;padding: 0}
a {color:inherit;text-decoration:none}  /* 重置链接a标签 */  
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */ 
button{border: none;}
hr{width: 100%;height: 1;background: #ccc;}
/*清除浮动*/  

/*样式重置*/





	










