@charset "UTF-8";
/*常用样式*/
.center, .labels, .main .box, .main-part3 > div, .main-part5 > div, .main-part6 > div > ul > li, .main-part6 > div > ul > li > p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*内部水平分散居中*/ }

.center2, .ul > li, .main-part2 > div, .main-part3 > div > div:nth-child(1) > div, .main-part4-slide > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /*内部垂直成列居中*/ }

.center3, .main-part6 {
  display: flex;
  align-items: center;
  justify-content: center;
  /*内部垂直成列居中*/ }

.padding-w {
  padding: 0 5vw; }

.padding-h {
  padding: 10px 0; }

.size-l, .main .box, .main-part2 > div > p:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold; }

.size-m {
  font-size: 13px; }

.size-s {
  font-size: 10px; }

.center-y, .main-part1 .main-ul > li > label {
  position: absolute;
  top: 50%;
  transform: translatey(-50%); }

.center-x, .labels {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }

.s, .main-part3 > div > div:nth-child(1) > div, .main-part4-slide > div > div, .main-part5 > div:hover {
  box-shadow: 0 0 3px #ccc; }

.gr {
  color: #29b078; }

.labels {
  position: absolute;
  bottom: 10px;
  z-index: 5;
  width: 100px; }
  .labels > label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    z-index: 2; }
    .labels > label:hover {
      background: #29b078; }

body {
  background: #EEEEEE; }

.header {
  background: #fff; }
  .header-part1 {
    /*头部第1部分*/
    color: #29b078;
    padding: 5px 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .header-part1 > div {
      white-space: nowrap; }
  .header-part2 {
    /*头部第2部分*/
    background: #29b078;
    height: 80px;
    position: relative; }
    .header-part2 > div:nth-of-type(1) {
      width: 400px;
      right: 15vw;
      color: #fff;
      font-size: 16px; }
      .header-part2 > div:nth-of-type(1) .active, .header-part2 > div:nth-of-type(1) a:hover {
        border-bottom-color: #fff; }
      .header-part2 > div:nth-of-type(1) a {
        height: 74px;
        width: 70px;
        border-bottom: 6px solid #29b078; }
      @media screen and (max-width: 800px) {
        .header-part2 > div:nth-of-type(1) {
          display: none; } }
    .header-part2 > div:nth-of-type(2) {
      left: 15vw; }

/*导航栏*/
.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.label1 {
  display: none;
  right: 15vw;
  height: 42px;
  width: 39px;
  border-radius: 4px;
  background: #47d196; }
  .label1:hover {
    background: #228d61; }
  .label1 > span {
    display: block;
    width: 28px;
    height: 4px;
    background: #2d966b;
    z-index: 2; }
    .label1 > span:nth-child(1) {
      transform: translateY(-6px); }
    .label1 > span:nth-child(3) {
      transform: translateY(6px); }

.ul {
  display: none; }
  .ul > li {
    color: #fff;
    width: 100%;
    height: 40px;
    background: #29b078;
    text-align: center; }
    .ul > li:hover {
      background: #47d196;
      transition: transform 500ms ease; }

@media screen and (max-width: 800px) {
  .label1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; } }
#menu {
  display: none; }
  #menu:checked ~ .ul {
    display: block; }

.main {
  /*内容*/
  overflow: hidden; }

.footer {
  color: white;
  background: #29b078; }
  .footer-div1 {
    flex-wrap: wrap;
    padding: 10px 15vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    .footer-div1 > div {
      height: 104px; }
      .footer-div1 > div:nth-child(1) > p {
        line-height: 50px; }
      .footer-div1 > div:nth-child(2) > p {
        line-height: 25px; }
      .footer-div1 > div:nth-child(3) > p {
        line-height: 30px; }
  .footer .p2 {
    height: 35px;
    border-top: 1px solid #BAD1B0;
    width: 100%;
    background: #29b078; }
    .footer .p2 > p {
      margin: 2px 10px; }
  @media screen and (max-width: 900px) {
    .footer > div > div {
      width: 70vw; }
    .footer .p2 {
      flex-direction: column; } }

.main > div:nth-of-type(n+2) {
  width: 70%;
  margin: 100px 15% 0 15%; }
.main > div:last-child {
  width: 100%;
  margin: 100px 0 0 0; }
.main .box {
  margin: 70px 0 -30px 0; }
.main-part1 {
  height: 31.25vw;
  overflow: hidden;
  width: 100%;
  position: relative; }
  .main-part1 .main-ul {
    width: 9999px;
    transition: all 0.5s;
    transform: translateX(0);
    list-style-type: none; }
    .main-part1 .main-ul > li {
      float: left;
      width: 100vw;
      position: relative; }
      .main-part1 .main-ul > li > img {
        width: 100vw;
        height: auto;
        z-index: 1; }
      .main-part1 .main-ul > li > label {
        color: #ccc;
        font-size: 35px;
        font-weight: bold;
        opacity: 0.5; }
        .main-part1 .main-ul > li > label:nth-child(1) {
          left: 5vw; }
        .main-part1 .main-ul > li > label:nth-child(3) {
          right: 5vw; }
.main-part2 {
  align-items: baseline; }
  .main-part2 > div {
    width: 12vw;
    padding: 0 2vw; }
    .main-part2 > div > p, .main-part2 > div > img, .main-part2 > div > div {
      margin: 10px 0;
      color: #666; }
    .main-part2 > div .center, .main-part2 > div .labels, .main-part2 > div .main .box, .main .main-part2 > div .box, .main-part2 > div .main-part3 > div, .main-part2 > div .main-part5 > div, .main-part6.main-part2 > div > ul > li, .main-part6.main-part2 > div > ul > li > p {
      justify-content: flex-start;
      margin-top: 20px;
      color: #29b078; }
  .main-part2-div4 {
    border-left: 1px solid #ccc; }
.main-part3 {
  flex-wrap: wrap;
  color: #666; }
  .main-part3 > div {
    width: 23%;
    margin: 10px 1%; }
    .main-part3 > div > div:nth-child(1) {
      width: 40px; }
      .main-part3 > div > div:nth-child(1) > div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        color: #29b078; }
    .main-part3 > div > div:nth-child(2) {
      width: 80%;
      padding: 0 5%; }
    .main-part3 > div > div:nth-child(3) {
      width: 10%; }
.main-part4 {
  overflow: hidden;
  position: relative;
  width: 70vw;
  transform: translateX(0); }
  .main-part4 .labels {
    bottom: 0; }
  .main-part4-slide {
    width: 9999px;
    height: 340px;
    transition: all 0.1s; }
    .main-part4-slide > div {
      width: 70vw;
      float: left; }
      .main-part4-slide > div > div {
        width: 260px;
        height: 300px;
        margin: 20px 1vw;
        background: white;
        border: 0 solid;
        border-radius: 5px; }
        .main-part4-slide > div > div > div {
          margin: 15px 15px; }
          .main-part4-slide > div > div > div:nth-child(3) {
            color: #666; }
.main-part5 {
  background: #fff;
  margin-bottom: 100px; }
  .main-part5 > div {
    height: 150px;
    background: #fff;
    width: 250px;
    margin: 2px; }
.main-part6 {
  background: #fff; }
  .main-part6 > div {
    width: 70vw; }
    .main-part6 > div > ul {
      flex-wrap: wrap; }
      .main-part6 > div > ul > li {
        color: #ccc;
        width: 10%;
        height: 20px; }
        .main-part6 > div > ul > li span {
          width: 5px;
          height: 5px;
          background: #ccc;
          border-radius: 50%; }
        .main-part6 > div > ul > li > p {
          border: 1px solid #fff; }
          .main-part6 > div > ul > li > p:hover {
            border-bottom: 1px solid #29b078; }
@media screen and (max-width: 1200px) {
  .main-part2, .main-part3, .main-part5 {
    flex-wrap: wrap; }
    .main-part2 > div, .main-part3 > div, .main-part5 > div {
      width: 30vw; }
  .main-part4-slide > div {
    flex-wrap: wrap; }
    .main-part4-slide > div > div {
      margin: 10px 3vw; }
  .main-part5 > div {
    width: 70vw; }
  .main-part6 > div > ul > li {
    width: 20%; } }
@media screen and (max-width: 900px) {
  .main-part2 > div, .main-part2 > a, .main-part3 > div, .main-part3 > a {
    width: 70vw; }
  .main-part6 > div > ul > li {
    width: 25%; } }
@media screen and (max-width: 600px) {
  .main-part6 > div > ul > li {
    width: 50%; } }

#sildeInput1:checked ~ .main-ul {
  transform: translateX(0); }

#sildeInput2:checked ~ .main-ul {
  transform: translateX(-100vw); }

#sildeInput3:checked ~ .main-ul {
  transform: translateX(-200vw); }

#sildeInput4:checked ~ .main-part4-slide {
  transform: translateX(0); }

#sildeInput5:checked ~ .main-part4-slide {
  transform: translateX(-70vw); }

#sildeInput6:checked ~ .main-part4-slide {
  transform: translateX(-140vw); }
