@import'common.scss';
%wh{width: 300px;height: 380px}
.main{hr{margin: 20px 0;}
	>div{width: 70vw;margin: 20px 15vw;}
	&-div1>div{width: 150px;justify-content: space-between;}
	&-div2{
		display: flex;align-self: flex-start;flex-wrap: wrap;
		.active{background: $gr;color: #fff;}
		&-part2>p{display: inline-block;padding: 0 5px;
			&:hover{@extend .active}
		}
	}
	&-part1{
		display: flex;
		flex-direction: column;width: inherit;
		>p{margin: 20px 0;}
}
	&-part2{
		>div{
			width: 70vw;
		.t{
	margin: 2vw 0;
	border-radius: 2px;
	position: relative;
	color: #ccc;
			
			
		.table{
			@extend %wh;
			background: white;
			box-shadow: 0 0 5px #e3e3e3;
			@extend .size-s;
			td{
				padding: 0 10px;
				.center{
					>div:nth-child(2){margin:0 5px}
					
				}}
			.table2{color: #000;
				>div{
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

}
.tablee{
			@extend %wh;
			background:black;
			@include abs(0);
			filter:alpha(opacity=70); 
			@extend .size-m;
 			-moz-opacity:0.7; 
 			-khtml-opacity: 0.7; 
			 opacity: 0.7; 
	transform: scale(0.5,0.5);
	visibility: hidden;
			>p{
				line-height: 1.4em;
				color: white;
				margin: 10px 30px;
	
	
}
}
	&:hover .tablee{	transform: scale(1,1);transition:all 0.5s;visibility: visible;}
	
	
}	
		>div{display: inline-block;
			&:nth-child(1){float: left}
			&:nth-child(2){position: absolute;left: 50%;transform: translateX(-50%)}
			&:nth-child(3){float: right;}
			}}
}
		}
table,tr,td{border:0.1px solid #e8e8e8}
table,.tablee{border-radius: 5px;}

@media screen and (max-width: 1300px){
	   .main-part2>div{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		&> div:nth-child(2){position: static;transform: none;left: 0;
		   }}}
